.jobBoard {
    padding: 20px 20px 20px 20px;
    background-color: var(--main);
}


.addNewJobButton {

    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    transition: all 250ms;
    width: auto;
}

.addNewJobButton:hover,
.addNewJobButton:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.addNewJobButton:hover {
    transform: translateY(-1px);
}

.addNewJobButton:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}


.company_logo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    padding: 1px;
    width: 70px;
    height: auto;
    margin-right: 20px;
}

.jobWrapper {
    height: 150px;
    width: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 25px;
    border-radius: 15px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.positionName {
    color: black;
    font-weight: 700;
    font-size: 23px;
}

.companyName {
    padding: 12px;
    color: var(--primary);
    font-weight: 700;
    font-size: 20px;
}

.companyDetails {
    color: var(--grey);
    font-size: 17px;
}

.jobTechStack {
    position: absolute;
    right: 150px;

}

.language_span {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: white;
    background-color: var(--main);
    border-radius: 5px;
    margin: 5px;
    border: 1px;
    opacity: 0.5;
}