
.addJobContainer{
    background: var(--main);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}

.addJobWrapper {
    background-color: white;
    min-width: 500px;
    min-height: 900px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.addJobTitle {
    color: var(--main);
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.checkboxWrapper,
.ratingWrapper,
.companyWrapper,
.logoWrapper,
.positionWrapper,
.roleWrapper,
.lvlWrapper,
.postedatWrapper,
.contractWrapper,
.locationWrapper,
.languagesWrapper,
.toolsWrapper,
.responsiblesWrapper,
.descriptionWrapper{
    margin: 20px 0px 20px 0px;
    color: #6a646a;
}
.textAreaWrapper {
    color: #6a646a;
    display: flex;
    flex-direction: column;
}

.label{
    
    display:inline-block;
    width:180px;
    font-size: 18px;
    letter-spacing: 1px;
}

.checkboxInput{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-top: 10px; 
}

.textInput{
    margin-top: 10px;
    height: 20px;
    font-size: 18px;
    outline: none;
    width: 300px;
    border-top-style: none;
    border-right-style:none;
    border-left-style: none;
    border-bottom-style: 1px solid black;
    margin-left: 20px;
}

.textAreaInput{
    height: 150px;
    font-size: 18px;
    outline: none;
    width: 100%;
    background-color: #ecececf0;
    box-sizing: border-box;
    border: 2px solid rgba(216, 213, 213, 0.857);
    resize: none;
    margin: 20px 0px 30px 0px;
}
.selectInput {
    height: 30px;
    font-size: 18px;
    width: 300px;
    border-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

.formButton{
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 25px;
    color: white;
    padding: 10px 60px;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
        rgba(0,0,0,0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    transition: all 0.1s;
}

.addJobButton{
    background: var(--main);
}

.cancelButton {
    background: rgb(243, 66, 66);;
}

.cancelButton:hover {
    background-color: #ff8370;
    color: black;
}

.addJobButton:hover {
    background-color: #9cb3f9d7;
    color: black;
}

.dynamicFieldsWrapper {
    display: flex;
    
}
.buttonsWrapper{
    display: flex;
}



