

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px;
}

.card--logo {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
    box-shadow: 5px 0px 10px rgb(56, 54, 54);
}

.card--star {
    height: 14px;
}

.card--stats {

  display: flex;
  align-items: center;  
}



.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-top: 10px;
}

