
.background--image {
        opacity: 0.5;
        width: 100%;
        height: 1000px;
        object-fit: cover;
        background-size:auto;
        background-repeat: no-repeat;
        margin-bottom: 100px;

}

.card--advertisement--title {

        margin-top: 50px;
        margin-left: -300px;
        
    }
    
.card--motivate--text{

        margin-top: 20px;
        margin-left: 40px;
}

.mainCard {
        
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
        
}

.joblist-item {
        display: inline-block;
}

.joblist-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
}